/*

Vert: #7ed56f
Vert medium: #55c57a
Dark vert: #28b485

*/

/* Copyright @TIJANI ABDELLATIF 
Front web developer 

*/ 

/* normaliser le css */

*
{
    
}

body {
      margin-top: 40px;
      margin-bottom: 40px;
      margin-left: 40px;
      margin-right: 40PX;
}

/* le corps de la page */
.header 
{
    width: 100%;
    height: 100vh;
    background-image:  
    linear-gradient(150deg, rgba(126, 213, 111, 1), rgba(255,0,0,0) 65.71%),
    linear-gradient(250deg, rgba(85, 197, 122, 1), rgba(0,255,0,0) 65.71%),
    linear-gradient(400deg, rgba(40, 180, 133, 1), rgba(0,0,255,0) 65.71%),
    url(../img/hero.jpg);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 92%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 92%, 0% 100%);
    background-repeat: no-repeat;
    background-position: cover;
    position: relative;
    margin-left: -8px;
    margin-right: -8;

}

.logo 
{
 margin-top: 45px;
 animation: movinInBottom 40s; 
}

.logowhite
{
    width:100px;
    height: auto;
    margin-top:40px;
    margin-left:30px;
    position: relative;
    animation: moveInBottom 2s;
}

.main
{
   text-align: center;
   position: relative;

}
.heading1{
    font-family:Arial, Helvetica, sans-serif;
    color:white;
    display: block;
    text-transform: uppercase;
    padding-top: 6%;

}
.heading11
{
letter-spacing: 60px;
font-size:35px;
font-size: 80px;
display: inline;
line-height: 180px;
font-weight: 100;
position: relative;
animation: moveInRight 2s;




}

.heading12
{
    letter-spacing: 23px;
    font-size:12px;
    display: block;
    font-size: 24px;
    position: relative;
    animation: moveingLeft 2s;

}

/* Animation */ 


@keyframes moveingLeft
{
    0%
    {
       left: 110px;
       opacity: 0;
       
    }

   /* 60%
    {
       transform: rotate(30deg) ;
    }
    */

    80%
    {
       left: 10px;
       opacity: 0,9; 
    }

    100%
    {
       left: 0px;
       opacity: 1;
    }
}

@keyframes moveInRight
{
    0%
    {
        right: 120px;
        opacity: 0;
    }

   /* 60%
    {
       transform: rotate(-30deg) ;
    }
    */

    80%
    {
        right: -10px;
        opacity: 0,9px;
    }

    100%
    {
        right:1px;
        opacity: 1;
    }
}



@keyframes moveInBottom
{
    0%
        {
            top: -1.5rem;
            left: 1rem;
            opacity: 0; 
       
        }

    80%
        {
            top: 0;
            left: 1rem;
            opacity: .8;
        }

    100%
        {
            opacity: 1;
            left: 0;
        }
}

/* bouton */ 
.btn:link,.btn:visited
{ 
    padding: 1.7rem 3rem;
    border-radius: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    top: 0;
    display: inline-block;
    transition: all .2s;
    color: #808080
}

.btn:hover{

    top: 1px;
    box-shadow: 0.067rem 0.16rem 0.3rem rgba(0,0,0,.5)

}
.btn:active
{
    color: #55c57a;
   
}

.btn-white
{
    background-color: rgb(255, 255, 255);
    text-transform: uppercase;
    border: none;
    color: grey;
    padding: 100px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
   

}

/* animer le boutton behind the scene  */ 

.btn::after /* l'element fils apres le bouton */
{
   

}

.btn-white::after /* l'element fils apres le bouton */{
  /* 
    mettez l'element en rouge pour voir la difference
   background-color:red;
   */
    content:'';
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: #fff;
    border-radius: 2rem;
    transform: scale(0);
    transition: all .5s;
}

.btn:hover::after
{
    transform: scale(1.5);
    opacity: 0;


}
.btn-animated 
{
animation: moveInRight 2s;
animation-delay: 1s;
animation-fill-mode: backwards;
   
}